body {
  margin: 10px;
  white-space: nowrap;
  width: 780px;
  height: 560px;
}

h1 {
  font-size: 15px;
}

#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}